<p id="notice"><%= notice %></p>

<p>
  <b>Open:</b>
  <%= @hour.open %>
</p>

<p>
  <b>Closed:</b>
  <%= @hour.closed %>
</p>


<%= link_to 'Edit', edit_hour_path(@hour) %> |
<%= link_to 'Back', hours_path %>
