<h1 align="center">Statistics</h1>


<style type="text/css">
  #entire_page 
  {
      width: 700px;
      margin-left: auto;
      margin-right: auto;
      padding: 40px;
      height: 600px;
      width: 900px;
  }

</style>

<% 
v1=0
v2=0
v3=0
v4=0
v5=0
v6=0
v7=0
v8=0
v9=0
v10=0
v11=0
v12=0
v13=0
v14=0
v15=0
v16=0
v17=0
v18=0
v19=0
v20=0
v21=0
v22=0
v23=0
v24=0
v25=0
v26=0
v27=0
v28=0
v29=0
v30=0

@options.each do |option| 
  
  v1 = option.t1
  v2=option.t2
  v3=option.t3
  v4=option.t4
  v5=option.t5
  v6=option.t6
  v7=option.t7
  v8=option.t8
  v9=option.t9
  v10=option.t10
  v11=option.t11
  v12=option.t12
  v13=option.t13
  v14=option.t14
  v15=option.t15
  v16=option.t16
  v17=option.t17
  v18=option.t18
  v19=option.t19
  v20=option.t20
  v21=option.t21
  v22=option.t22
  v23=option.t23
  v24=option.t24
  v25=option.t25
  v26=option.t26
  v27=option.t27
  v28=option.t28
  v29=option.t29
  v30=option.t30
end 
%>

 <div id = "entire_page">
  <div id="chart_div"></div>
  <div id="chart_div2" style="padding-top: 30px;"></div>
</div>

<br />

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      google.load("visualization", "1", {packages:["corechart"]});
      
      google.setOnLoadCallback(function(){drawChart('<%= "#{v1}"%>','<%="#{v2}"%>','<%="#{v3}"%>','<%="#{v4}"%>','<%="#{v5}"%>','<%="#{v6}"%>','<%="#{v7}"%>','<%="#{v8}"%>','<%="#{v9}"%>','<%="#{v10}"%>','<%="#{v11}"%>','<%="#{v12}"%>','<%="#{v13}"%>','<%="#{v14}"%>','<%="#{v15}"%>','<%="#{v16}"%>','<%="#{v17}"%>','<%="#{v18}"%>','<%="#{v19}"%>','<%="#{v20}"%>','<%="#{v21}"%>','<%="#{v22}"%>','<%="#{v23}"%>','<%="#{v24}"%>','<%="#{v25}"%>','<%="#{v26}"%>','<%="#{v27}"%>','<%="#{v27}"%>','%="#{v28}"%>','%="#{v29}"%>','%="#{v30}"%>')});
      
      function drawChart(v1,v2,v3,v4,v5,v6,v7,v8,v9,v10,v11,v12,v13,v14,v15,v16,v17,v18,v19,v20,v21,v22,v23,v24,v25,v26,v27,v28,v29,v30) {
       

        var data = google.visualization.arrayToDataTable([
          ['Name', 'Occurences'],
          ['organic', parseInt(v1)],
          ['lunch', parseInt(v2)],
          ['brunch', parseInt(v3)],
          ['cocktail', parseInt(v4)],
          ['dessert', parseInt(v5)],
          ['bar', parseInt(v6)],
          ['dinner', parseInt(v7)],
          ['wine', parseInt(v8)],
          ['local', parseInt(v9)],
          ['american', parseInt(v10)],
          ['nordic', parseInt(v11)],
          ['happy-hour', parseInt(v12)],
          ['cocktails', parseInt(v13)],
          ['beer', parseInt(v14)],
          ['indian', parseInt(v15)],
          ['indoor', parseInt(v16)],
          ['lounge', parseInt(v17)],
          ['cheese', parseInt(v18)],
          ['private', parseInt(v19)],
          ['tasting', parseInt(v20)],
          ['italian', parseInt(v21)],
          ['french',  parseInt(v22)],
          ['breakfast', parseInt(v23)],
          ['desserts', parseInt(v24)],
          ['steakhouse', parseInt(v25)],
          ['sushi', parseInt(v26)],
          ['drinks', parseInt(v27)],
          ['mediterranean', parseInt(v28)],
          ['delivery', parseInt(v29)],
          ['greek', parseInt(v30)]
          ]);
       
        var options = {
          title: 'Tag Occurences',
          hAxis: {slantedTextAngle: 90, title: 'Tag Name', titleTextStyle: {color: 'black'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }

//------------------------------- PIE CHART ---------------------------------//

      google.load("visualization", "1", {packages:["corechart"]});
      
      google.setOnLoadCallback(function(){drawChart2('<%= "#{v1}"%>','<%="#{v2}"%>','<%="#{v3}"%>','<%="#{v4}"%>','<%="#{v5}"%>','<%="#{v6}"%>','<%="#{v7}"%>','<%="#{v8}"%>','<%="#{v9}"%>','<%="#{v10}"%>','<%="#{v11}"%>','<%="#{v12}"%>','<%="#{v13}"%>','<%="#{v14}"%>','<%="#{v15}"%>','<%="#{v16}"%>','<%="#{v17}"%>','<%="#{v18}"%>','<%="#{v19}"%>','<%="#{v20}"%>','<%="#{v21}"%>','<%="#{v22}"%>','<%="#{v23}"%>','<%="#{v24}"%>','<%="#{v25}"%>','<%="#{v26}"%>','<%="#{v27}"%>','<%="#{v27}"%>','%="#{v28}"%>','%="#{v29}"%>','%="#{v30}"%>')});
      
      function drawChart2(v1,v2,v3,v4,v5,v6,v7,v8,v9,v10,v11,v12,v13,v14,v15,v16,v17,v18,v19,v20,v21,v22,v23,v24,v25,v26,v27,v28,v29,v30)  {
        
        var data = google.visualization.arrayToDataTable([
          ['Tag Name', 'Number of Occurences'],
          ['organic', parseInt(v1)],
          ['lunch',      parseInt(v2)],
          ['brunch',  parseInt(v3)],
          ['cocktail', parseInt(v4)],
          ['dessert',    parseInt(v5)],
          ['bar',     parseInt(v6)],
          ['dinner',      parseInt(v7)],
          ['wine',  parseInt(v8)],
          ['local', parseInt(v9)],
          ['american',    parseInt(v10)],
          ['nordic',     parseInt(v11)],
          ['happy-hour',      parseInt(v12)],
          ['cocktails',  parseInt(v13)],
          ['beer', parseInt(v14)],
          ['indian',    parseInt(v15)],
          ['indoor',     parseInt(v16)],
          ['lounge',      parseInt(v17)],
          ['cheese',  parseInt(v18)],
          ['private', parseInt(v19)],
          ['tasting',    parseInt(v20)],
          ['italian',     parseInt(v21)],
          ['french',      parseInt(v22)],
          ['breakfast',  parseInt(v23)],
          ['desserts', parseInt(v24)],
          ['steakhouse',    parseInt(v25)],
          ['sushi',     parseInt(v26)],
          ['drinks',      parseInt(v27)],
          ['mediterranean',  parseInt(v28)],
          ['delivery', parseInt(v29)],
          ['greek',    parseInt(v30)]
        ]);

        var options = {
          title: 'Tags and percentages'
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div2'));
        chart.draw(data, options);
      }

    </script>
