<h1>Listing options</h1>

<table>
  <tr>
    <th>T1</th>
    <th>T2</th>
    <th>T3</th>
    <th>T4</th>
    <th>T5</th>
    <th>T6</th>
    <th>T7</th>
    <th>T8</th>
    <th>T9</th>
    <th>T10</th>
    <th>T11</th>
    <th>T12</th>
    <th>T13</th>
    <th>T14</th>
    <th>T15</th>
    <th>T16</th>
    <th>T17</th>
    <th>T18</th>
    <th>T19</th>
    <th>T20</th>
    <th>T21</th>
    <th>T22</th>
    <th>T23</th>
    <th>T24</th>
    <th>T25</th>
    <th>T26</th>
    <th>T27</th>
    <th>T28</th>
    <th>T29</th>
    <th>T30</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @options.each do |option| %>
  <tr>
    <td><%= option.t1 %></td>
    <td><%= option.t2 %></td>
    <td><%= option.t3 %></td>
    <td><%= option.t4 %></td>
    <td><%= option.t5 %></td>
    <td><%= option.t6 %></td>
    <td><%= option.t7 %></td>
    <td><%= option.t8 %></td>
    <td><%= option.t9 %></td>
    <td><%= option.t10 %></td>
    <td><%= option.t11 %></td>
    <td><%= option.t12 %></td>
    <td><%= option.t13 %></td>
    <td><%= option.t14 %></td>
    <td><%= option.t15 %></td>
    <td><%= option.t16 %></td>
    <td><%= option.t17 %></td>
    <td><%= option.t18 %></td>
    <td><%= option.t19 %></td>
    <td><%= option.t20 %></td>
    <td><%= option.t21 %></td>
    <td><%= option.t22 %></td>
    <td><%= option.t23 %></td>
    <td><%= option.t24 %></td>
    <td><%= option.t25 %></td>
    <td><%= option.t26 %></td>
    <td><%= option.t27 %></td>
    <td><%= option.t28 %></td>
    <td><%= option.t29 %></td>
    <td><%= option.t30 %></td>
    <td><%= link_to 'Show', option %></td>
    <td><%= link_to 'Edit', edit_option_path(option) %></td>
    <td><%= link_to 'Destroy', option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Option', new_option_path %>
