<p id="notice"><%= notice %></p>

<p>
  <b>T1:</b>
  <%= @option.t1 %>
</p>

<p>
  <b>T2:</b>
  <%= @option.t2 %>
</p>

<p>
  <b>T3:</b>
  <%= @option.t3 %>
</p>

<p>
  <b>T4:</b>
  <%= @option.t4 %>
</p>

<p>
  <b>T5:</b>
  <%= @option.t5 %>
</p>

<p>
  <b>T6:</b>
  <%= @option.t6 %>
</p>

<p>
  <b>T7:</b>
  <%= @option.t7 %>
</p>

<p>
  <b>T8:</b>
  <%= @option.t8 %>
</p>

<p>
  <b>T9:</b>
  <%= @option.t9 %>
</p>

<p>
  <b>T10:</b>
  <%= @option.t10 %>
</p>

<p>
  <b>T11:</b>
  <%= @option.t11 %>
</p>

<p>
  <b>T12:</b>
  <%= @option.t12 %>
</p>

<p>
  <b>T13:</b>
  <%= @option.t13 %>
</p>

<p>
  <b>T14:</b>
  <%= @option.t14 %>
</p>

<p>
  <b>T15:</b>
  <%= @option.t15 %>
</p>

<p>
  <b>T16:</b>
  <%= @option.t16 %>
</p>

<p>
  <b>T17:</b>
  <%= @option.t17 %>
</p>

<p>
  <b>T18:</b>
  <%= @option.t18 %>
</p>

<p>
  <b>T19:</b>
  <%= @option.t19 %>
</p>

<p>
  <b>T20:</b>
  <%= @option.t20 %>
</p>

<p>
  <b>T21:</b>
  <%= @option.t21 %>
</p>

<p>
  <b>T22:</b>
  <%= @option.t22 %>
</p>

<p>
  <b>T23:</b>
  <%= @option.t23 %>
</p>

<p>
  <b>T24:</b>
  <%= @option.t24 %>
</p>

<p>
  <b>T25:</b>
  <%= @option.t25 %>
</p>

<p>
  <b>T26:</b>
  <%= @option.t26 %>
</p>

<p>
  <b>T27:</b>
  <%= @option.t27 %>
</p>

<p>
  <b>T28:</b>
  <%= @option.t28 %>
</p>

<p>
  <b>T29:</b>
  <%= @option.t29 %>
</p>

<p>
  <b>T30:</b>
  <%= @option.t30 %>
</p>


<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
