

<%= form_for(@venue) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= f.label :venue_name %><br />
    <%= f.text_field :venue_name %>
  </div>
  
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>


<div class="ui-widget">
  <%= f.label :tags %><br />
 <input id="tags" <%= f.text_field :tags %> >

</div>

<body>
  <div id="chart_div" style="width: 600px; height: 200px; position: relative; left: 15%; "></div>
</body>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" href="/resources/demos/style.css" />

  <!--Tags used so far: !--> 

 <script type="text/javascript">
      $(function() {
      var array = [
      "organic",
      "lunch",
      "brunch",
      "cocktail",
      "dessert",
      "bar",
      "dinner",
      "wine",
      "local",
      "american", 
      "nordic",
      "happy-hour",
      "cocktails",
      "beer",
      "indian",
      "indoor", 
      "lounge",
      "cheese", 
      "private", 
      "tasting", 
      "italian",
      "french",
      "breakfast",
      "desserts",
      "steakhouse", 
      "sushi",
      "drinks",
      "mediterranean"

    ];

     $( "#tags" ).autocomplete({
      source: array
    });

    });

 </script>

  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :nytID %><br />
    <%= f.text_field :nytID %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>


