

<%= form_for(@venue) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= f.label :venue_name %><br />
    <%= f.text_field :venue_name %>
  </div>
  
  <!-- <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div> -->

<style type="text/css">
  input[type="submit"] {
    position: relative;
    padding:3%;
    left:30%;
  }

  a {
    position:relative;
    left:30%;
    padding: 2%;

  }
  

</style>

<div class="ui-widget">
  <label for="venue_tags" style="position:relative; left:30%;"><%= f.label :tags %></label><br />
 <input id="tags" size="80" style="position:relative; left: 30%" <%= f.text_field :tags %> 

</div>

  <!--Tags used so far: !--> 

 <script type="text/javascript">
      $(function() {
      var availableTags = [
      "organic",
      "lunch",
      "brunch",
      "cocktail",
      "dessert",
      "bar",
      "dinner",
      "wine",
      "local",
      "american", 
      "nordic",
      "happy-hour",
      "cocktails",
      "beer",
      "indian",
      "indoor", 
      "lounge",
      "cheese", 
      "private", 
      "tasting", 
      "italian",
      "french",
      "breakfast",
      "desserts",
      "steakhouse", 
      "sushi",
      "drinks",
      "mediterranean"

    ];

     function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }
 
    $( "#tags" )
      // don't navigate away from the field on tab when selecting an item
      .bind( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).data( "ui-autocomplete" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 0,
        source: function( request, response ) {
          // delegate back to autocomplete, but extract the last term
          response( $.ui.autocomplete.filter(
            availableTags, extractLast( request.term ) ) );
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join( ", " );
          return false;
        }
      });
  });


 </script>

  <!-- <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :nytID %><br />
    <%= f.text_field :nytID %>
  </div> -->

  <div class="actions">
    <%= f.submit %> 
  </div>


<% end %>


