<%= form_for(@venue) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


   <div class="field">
    <%= f.label :venue_name %><br />
    <%= f.text_field :venue_name %>
  </div>
  
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  
   <!-- <div class="field">
    
  </div> -->

<div class="ui-widget">
  <%= f.label :tags %><br />
 <input id="tags" <%= f.text_field :tags %> >

</div>

<body>
  <div id="chart_div" style="width: 600px; height: 200px; position: relative; left: 15%; "></div>
</body>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" href="/resources/demos/style.css" />

  Tags used so far: 
 
  <%
  occurences =0 
  result = JSON.parse open('http://nyt-project-taco.herokuapp.com/venues.json').read
  tagsArrayList = Array.new
  hashList = Array.new
  hash=Hash.new
  result.each { |i| 
    tags = i.fetch('tags')
    
    if (tags != "insert")
        words = tags.split(',')     
        words.each do |word|
   
          if (!tagsArrayList.include?(word))
              hash = Hash.new
              hash[word] = tagsArrayList.count(word)
              tagsArrayList.push(word)
              hashList.push(hash)
          else
            hash = Hash.new
            hash[word] = tagsArrayList.count(word)
            hashList.push(hash)
          end
        end
    end


    # Massive and unneccessary, but gets the job done!

    v1=hash["organic"]
    v2=hash["lunch"]
    v3=hash["brunch"]
    v4=hash["cocktail"]
    v5=hash["dessert"]
    v6=hash["bar"]
    v7=hash["dinner"]
    v8=hash["wine"]
    v9=hash["local"]
    v10=hash["american"]
    v11=hash["nordic"]
    v12=hash["happy-hour"]
    v13=hash["cocktails"]
    v14=hash["beer"]
    v15=hash["indian"]
    v16=hash["indoor"]
    v17=hash["lounge"]
    v18=hash["cheese"]
    v19=hash["private"]
    v20=hash["tasting"]
    v21=hash["italian"]
    v22=hash["french"]
    v23=hash["breakfast"]
    v24=hash["desserts"]
    v25=hash["steakhouse"]
    v26=hash["sushi"]
    v27=hash["drinks"]

   

  }
  %>

  <% puts "#{v1}" %>
 


 <script type="text/javascript">
      $(function() {
      var array = [
      "organic",
      "lunch",
      "brunch",
      "cocktail",
      "dessert",
      "bar",
      "dinner",
      "wine",
      "local",
      "american", 
      "nordic",
      "happy-hour",
      "cocktails",
      "beer",
      "indian",
      "indoor", 
      "lounge",
      "cheese", 
      "private", 
      "tasting", 
      "italian",
      "french",
      "breakfast",
      "desserts",
      "steakhouse", 
      "sushi",
      "drinks"

    ];

     $( "#tags" ).autocomplete({
      source: array
    });

    });

 </script>


  <script type="text/javascript">
    


   </script>
 
  <select>
    <%
      tagsArrayList.each do |x|
    %> 
         <option value= <%= "#{x}" %>> <%= "#{x}" %> </option> 
    <% end  %> 
 </select> 
 


  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :nytID %><br />
    <%= f.text_field :nytID %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>



  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
     

      function drawChart(v1,v2,v3,v4,v5,v6,v7,v8,v9,v10,v11,v12,v13,v14,v15,v16,v17,v18,v19,v20,v21,v22,v23,v24,v25,v26,v27)
      {
         var data = google.visualization.arrayToDataTable([
          ['Name', 'Occurences'],
          ['organic',  v1],
          ['lunch',  v2],
          ['brunch',  v3],
          ['cocktail',  v4],
          ['dessert', v5],
          ['bar',  v6],
          ['dinner',  v7],
          ['wine', v8],
          ['local', v9],
          ['american',  v10],
          ['nordic',  v11],
          ['happy-hour',  v12],
          ['cocktails', v13],
          ['beer',  v14],
          ['indian',  v15],
          ['indoor',  v16],
          ['lounge', v17],
          ['cheese',  v18],
          ['private',  v19],
          ['tasting',  v20],
          ['italian', v21],
          ['french',  v22],
          ['breakfast',  v23],
          ['desserts',  v24],
          ['steakhouse', v25],
          ['sushi',  v26],
          ['drinks',  v27]
        ]);

        var options = {
          title: 'Tags',
          hAxis: {title: 'Name', titleTextStyle: {color: 'black'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }

    </script>
  </head>
  








<% end %>


