

<%= form_for(@venue) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field" id="venue_name">
   <%= f.label :venue_name %><br />
    <%= f.text_field :venue_name %>
  </div>
  
  <!-- <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div> -->


 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css" />

<style type="text/css">
  
  input[type="submit"] 
  {
    position: relative;
    left:67%;
    background-color: #E1117D;;
    color: #fff;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    text-transform: uppercase;
    height: 40px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border: 2px solid rgba(0,0,0,0.2);
    line-height:normal;
    font-size:11px;
    padding: 0.2em .6em;
  }

  a 
  {
    position:relative;
    left:30%;
  }

  .actions 
  {
    padding-top:10px;
  }

  #tags 
  {

    position:relative; 
    left: 30%;
    border: 1px solid #000;
    font-size: 17px;
    padding: 8px 12px;
    height: 25px;
    margin: 0;
    color: #fff
    background: rgba(57,60,61,0.8);
    
  }

  #venue_name 
  {
    position:relative; 
    left: 30%;
    padding-bottom: 30px;
    padding-top: 20px;



  }

  #venue_tags
  {
    padding-bottom:5px;
  }

  .ui-autocomplete 
  {

    position:relative;
    background:#CCC;
    width: 10%;
  }

  .ui-menu, .ui-menu-item {
    margin:0;
    padding: 0;
    zoom: 1;
    width: 10%;
  }

  

</style>

<div class="ui-widget">
  
  <label for="venue_tags" style="position:relative; left:30%;"><%= f.label :tags %></label><br />
 
 <input id="tags" size="80" <%= f.text_field :tags %> 

</div>

  <!--Tags used so far: !--> 



 <script type="text/javascript">




      $(function() {
      var availableTags = [
      "organic",
      "lunch",
      "brunch",
      "cocktail",
      "dessert",
      "bar",
      "dinner",
      "wine",
      "local",
      "american", 
      "nordic",
      "happy-hour",
      "cocktails",
      "beer",
      "indian",
      "indoor", 
      "lounge",
      "cheese", 
      "private", 
      "tasting", 
      "italian",
      "french",
      "breakfast",
      "desserts",
      "steakhouse", 
      "sushi",
      "drinks",
      "mediterranean"

    ];

     function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }
 
    $( "#tags" )
      // don't navigate away from the field on tab when selecting an item
      .bind( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).data( "ui-autocomplete" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 0,
        source: function( request, response ) {
          // delegate back to autocomplete, but extract the last term
          response( $.ui.autocomplete.filter(
            availableTags, extractLast( request.term ) ) );
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join( ", " );
          return false;
        }
      });
  });


 </script>

  <!-- <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :nytID %><br />
    <%= f.text_field :nytID %>
  </div> -->

  <div class="actions">
    <%= f.submit %> 
  </div>

<% end %>


