<%= form_for(@venue) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :venue_name %><br />
    <%= f.text_field :venue_name %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
   <div class="field">
    <%= f.label :tags %><br />
    <%= f.text_field :tags %>
    Testing ......... 
   <p>Tags used so far: <%
  
  
  result = JSON.parse open('http://nyt-project-taco.herokuapp.com/venues.json').read
  tagsArrayList = Array.new()
 
  result.each { |i| 
    tags = i.fetch('tags')
    puts tags
    
    if (tags != "insert")
        words = tags.split(',')     
        words.each do |word|

            if (!tagsArrayList.include?(word))
              tagsArrayList.push(word)
            end
        end
    end
  }
  
  tagsArrayList.each do |x|
    puts "#{x}"
  end

  %> </p>

  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :nytID %><br />
    <%= f.text_field :nytID %>
  </div>
 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
