<%= form_for(@venue) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<script type="text/css">
  #tags 
  {
      width:350px;height:70px;padding:10px;border:1px solid #aaaaaa;
  }
</script>
<script type="text/javascript">
  function allowDrop(ev)
  {
    ev.preventDefault();
  }

  function drag(ev)
  {
    ev.dataTransfer.setData("Text",ev.target.id);
  } 

  function drop(ev)
  {
    ev.preventDefault();
    var data=ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
  }
</script>


  <div class="field">
    <%= f.label :venue_name %><br />
    <%= f.text_field :venue_name %>
  </div>
  
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  
   <div class="field" id="tags" ondrop="drop(event)" ondragover="allowDrop(event)">
    <%= f.label :tags %><br />
    <%= f.text_field :tags %>

  </div>

   Tags used so far: 

  <%
  result = JSON.parse open('http://nyt-project-taco.herokuapp.com/venues.json').read
  tagsArrayList = Array.new()
 
  result.each { |i| 
    tags = i.fetch('tags')
    
    if (tags != "insert")
        words = tags.split(',')     
        words.each do |word|
            if (!tagsArrayList.include?(word))
              tagsArrayList.push(word)
            end
        end
    end
  }
  %>
  <div draggable="true" ondragstart="drag(event)">
 <select>
    <%
      tagsArrayList.each do |x|
    %> 
         <option value= <%= "#{x}" %>> <%= "#{x}" %> </option> 
    <% end  %> 
 </select> 
 </div>

  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :nytID %><br />
    <%= f.text_field :nytID %>
  </div>
 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
