
<h1 align="center"> Project Taco</h1> &nbsp     &nbsp &nbsp

<ul>
  <li>Ok Team, listen up...In order for our app to be f**** awesome, we need <br> to add some serious personalization to EACH individual venue. How? Well, we'll start <br> by manually entering some details and other cool things about each venue below.</li>
  <li> <br>A few guidlines to abide by: One, the only parameter you will be updating <br> is the Time Of Day slot. Every update goes directly into our database, so be <br> careful and do not change any other parameter! </li>
  <li><br>Some examples might be something like: ...</li>
</ul>

<style type="text/css">

.meat
{
    background-color: #E5E4E2;
    border-collapse: collapse;
}

td {
   padding: 5px;

}

a 
{ 
    color:#E33192; 
}
</style>

<table border = "1" class = "meat" >
  <tr>
    <th>Venue name</th>
    <th>Website</th>
    <th>Time of day</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Nytid</th>
    
    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @venues.each do |venue| %>
  <tr>
    <td><%= venue.venue_name %></td>
    <td><a href="<%= venue.website %>"><%= venue.website %></a></td>
    <td><%= venue.time_of_day %></td>
    <td><%= venue.latitude %></td>
    <td><%= venue.longitude %></td>
    <td><%= venue.nytID %></td>

   <!-- <td><%= link_to 'Show', venue %></td> -->
    <td style="color: #FF00FF"><%= link_to 'Edit', edit_venue_path(venue) %></td>
    <!-- <td><%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Venue', new_venue_path %>
