<div class="container">
<h1 align="center">Project Taco</h1>

<!-- <img src="assets/scoop.png" style="position: relative; left: 16% ; width:11%;"> -->
<!-- <img src="assets/splash.png" style="position: relative;left: 31%; width:11%;"> -->
<!-- <img src="/assets/mockup.png" style="position: relative; left: 46%; width:11%;"> -->
<div>
  <ul>
    <li>Seperate words with a comma when describing a venue </li>
    <li>Use dashes between words like happy-hour</li>
    <li>Every update goes directly into our database</li>
  </ul>
</div>

<p> EXAMPLE: outdoors,lunch,dinner,balcony,terrace,bar</p>

<table class="table table-striped table-bordered table-condensed" >
<tr>
<th>Venue name</th>
<th>Website</th>
<th>Tags</th>
<th>Latitude</th>
<th>Longitude</th>
<th>NYTid</th>
<th></th>
</tr>

<% @venues.each do |venue| %>
<tr>
<td><%= venue.venue_name %></td>
<td><a href= "http://<%= venue.website %>"><%= venue.website %></a></td>
<td><%= venue.tags %></td>
<td><%= venue.latitude %></td>
<td><%= venue.longitude %></td>
<td><%= venue.nytID %></td>

<!-- <td><%= link_to 'Show', venue %></td> -->
<td style="color: #FF00FF"><%= link_to 'Edit', edit_venue_path(venue), class: "btn btn-mini btn-success" %></td>
<!-- <td><%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
</tr>
<% end %>
</table>
</div>

<!-- <%= link_to 'New Venue', new_venue_path %> -->