
<h1 align="center"> Project Taco</h1> &nbsp     &nbsp &nbsp

<p align="center"> Ok Team, listen up...In order for our app to be f**** awesome, we need to add some serious personalization to EACH individual venue. How? Well, we'll start by manually entering some details and other cool things about each venue below. </p>
<p align="center"> A few guidlines to abide by: One, the only parameter you will be updating is the Time Of Day slot. Every update goes directly into our database, so be careful and do not change any other parameter!  </p>
<p align="center">Some examples might be something like: ... </p>

<style type="text/css">
.meat
{
    background-image:url("http://www.pixeden.com/media/k2/galleries/136/004-subtle-light-pattern-background-texture.jpg");
}
</style>

<table class = "meat">
  <tr>
    <th>Venue name</th>
    <th>Website</th>
    <th>Time of day</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Nytid</th>
    
    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @venues.each do |venue| %>
  <tr>
    <td><%= venue.venue_name %></td>
    <td><a href="<%= venue.website %>"><%= venue.website %></a></td>
    <td><%= venue.time_of_day %></td>
    <td><%= venue.latitude %></td>
    <td><%= venue.longitude %></td>
    <td><%= venue.nytID %></td>

    <td><%= link_to 'Show', venue %></td>
    <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
    <!-- <td><%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Venue', new_venue_path %>
