
<h1 align="center"> Project Taco</h1> &nbsp     &nbsp &nbsp


<style type="text/css">

.meat
{
    background-color: #E5E4E2;
    border-collapse: collapse;
}

td {
   padding: 5px;

}

a 
{ 
    color:#E33192; 
}

ul, tr {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}
</style>

<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRPSfVqmgzS8sVDpgmx1PpDq-V9Zm4VqoEu5wPLCfBECXKOXSLeaw" style="position: absolute; right: 350px;">

<img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_KCdpYdKvj-z-3eMaaSc-pWuDVhd0-8_fkl4ZPEBVCSPzdfY-nQ" style="position: absolute; right: 230px; top: 10px;" >

<img src= "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQzI9JTaLVyJyqptNExWxpC3AkzSjX1U4u16s-ieooi1-MHLs2O" style="position: absolute; right: 430px; top: 10px;" >


<ul>
  <li>Ok Team, listen up...In order for our app to be f**** awesome, we need <br> to add some serious personalization to EACH individual venue. How? Well, we'll start <br> by manually entering some details and other cool things into each venue below.</li>
  <br><li> A few guidlines to abide by: One, the only parameter you will be updating <br> is the Time Of Day slot. Every update goes directly into our database, so be <br> careful and do not change any other parameter! </li>
  <br><li>Some examples might be something like: ...</li>
</ul>



<table border = "1" class = "meat" >
  <tr>
    <th>Venue name</th>
    <th>Website</th>
    <th>Time of day</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Nytid</th>
    
    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @venues.each do |venue| %>
  <tr>
    <td><%= venue.venue_name %></td>
    <td><a href="<%= venue.website %>"><%= venue.website %></a></td>
    <td><%= venue.time_of_day %></td>
    <td><%= venue.latitude %></td>
    <td><%= venue.longitude %></td>
    <td><%= venue.nytID %></td>

   <!-- <td><%= link_to 'Show', venue %></td> -->
    <td style="color: #FF00FF"><%= link_to 'Edit', edit_venue_path(venue) %></td>
    <!-- <td><%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Venue', new_venue_path %>

<img src= "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRFkglyhZuGuVa2bssNlvqSD7gHVCS-uEQq8osHzXlj4HYsr0xuag" style="position: absolute; right: 50px;">

<img src= "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQLOoqRqPgZNSjYS90geIumq9tpvdT9HQlKxaNM-JW8yhtzmz5w" style="position: absolute; right: 200px; top: 10px;">
