
<h1 align="center"> Project Taco</h1> &nbsp     &nbsp &nbsp


<style type="text/css">

.meat
{
    background-color: #E5E4E2;
    border-collapse: collapse;
}

td {
   padding: 5px;

}

a 
{ 
    color:#E33192; 
}

ul, tr {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}
</style>



<img src="https://mail.google.com/mail/u/0/?ui=2&amp;ik=07c93b6226&amp;view=att&amp;th=13faa1777b45e560&amp;attid=0.1&amp;disp=emb&amp;realattid=ii_13faa1769b45ca13&amp;zw&amp;atsh=1" style="position: absolute; top: 55px; right: 550px; width:10%;">

<img src="https://mail.google.com/mail/u/0/?ui=2&amp;ik=07c93b6226&amp;view=att&amp;th=13faa1f50a350047&amp;attid=0.1&amp;disp=emb&amp;realattid=ii_13faa1f43a2d4592&amp;zw&amp;atsh=1" style="position: absolute; top: 5px; right: 230px; width:11%;">

<img src="https://mail.google.com/mail/u/0/?ui=2&amp;ik=07c93b6226&amp;view=att&amp;th=13faa22d7cbfe0ac&amp;attid=0.1&amp;disp=emb&amp;realattid=ii_13faa22cb25bb6bb&amp;zw&amp;atsh=1" style="position: absolute; top: 5px; right: 90px; width:11%;">

<img src="https://mail.google.com/mail/u/0/?ui=2&ik=07c93b6226&view=att&th=13faa34bd1d36816&attid=0.1&disp=emb&realattid=ii_13faa34ad4700b06&zw&atsh=1" style="position: absolute; top: 5px; right: 25px; width:5%; height: 75%;">





<ul>
  <li>Ok Team, listen up...In order for our app to be f**** awesome, we need <br> to add some serious personalization to EACH individual venue. How? Well, we'll start <br> by manually entering some details and other cool things into each venue below.</li>
  <br><li> A few guidlines to abide by: One, the only parameter you will be updating <br> is the Time Of Day slot. Every update goes directly into our database, so be <br> careful and do not change any other parameter! </li>
  <br><li>Some examples might be something like: ...</li>
</ul>



<table border = "1" class = "meat" >
  <tr>
    <th>Venue name</th>
    <th>Website</th>
    <th>Time of day</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Nytid</th>
    
    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @venues.each do |venue| %>
  <tr>
    <td><%= venue.venue_name %></td>
    <td><a href="<%= venue.website %>"><%= venue.website %></a></td>
    <td><%= venue.time_of_day %></td>
    <td><%= venue.latitude %></td>
    <td><%= venue.longitude %></td>
    <td><%= venue.nytID %></td>

   <!-- <td><%= link_to 'Show', venue %></td> -->
    <td style="color: #FF00FF"><%= link_to 'Edit', edit_venue_path(venue) %></td>
    <!-- <td><%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Venue', new_venue_path %>

