<p id="notice"><%= notice %></p>

<p>
  <b>Venue name:</b>
  <%= @venue.venue_name %>
</p>

<p>
  <b>Website:</b>
  <%= @venue.website %>
</p>

<p>
  <b>Tags:</b>
  <%= @venue.tags %>
</p>

<p>
  <b>Latitude:</b>
  <%= @venue.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @venue.longitude %>
</p>

<p>
  <b>Nytid:</b>
  <%= @venue.nytID %>
</p>



<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
