<p id="notice"><%= notice %></p>

<p>
  <b>Venue name:</b>
  <%= @venue.venue_name %>
</p>

<p>
  <b>Website:</b>
  <%= @venue.website %>
</p>

<p>
  <b>Tags.....:</b>
  <%= @venue.tags %> <p>Tags used so far: <%
  
  result = JSON.parse open('http://nyt-project-taco.herokuapp.com/venues.json').read
  tagsArrayList = Array.new()
 
  result.each { |i| 
    tags = i.fetch('tags')
    puts tags
    
    if (tags != "insert")
        words = tags.split(',')     
        words.each do |word|

            if (!tagsArrayList.include?(word))
              tagsArrayList.push(word)
            end
        end
    end
  }
  tagsArrayList.each do |x|
    puts "#{x}"
  end
  %> </p>

</p>

<p>
  <b>Latitude:</b>
  <%= @venue.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @venue.longitude %>
</p>

<p>
  <b>Nytid:</b>
  <%= @venue.nytID %>
</p>



<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
