<p id="notice"><%= notice %></p>

<p>
  <b>Latitude:</b>
  <%= @address.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @address.longitude %>
</p>

<p>
  <b>City:</b>
  <%= @address.city %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @address.zipcode %>
</p>

<p>
  <b>Neighborhood:</b>
  <%= @address.neighborhood %>
</p>

<p>
  <b>Street:</b>
  <%= @address.street %>
</p>

<p>
  <b>Crossstreet:</b>
  <%= @address.crossstreet %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
